/*******************************
            Container
*******************************/

@import url('https://fonts.googleapis.com/css2?family=Fira + Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.media-query {
    @media (max-width: 1440px) {
    }
    @media (max-width: 1024px) {
    }
    @media (max-width: 769px) {
    }
    @media (max-width: 481px) {
    }
    @media (max-width: 376px) {
    }
}
/* All Sizes */

.container {
    display: block;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1440px) {
        padding-left: 56px;
        padding-right: 56px;
    }
    @media (max-width: 1024px) {
        padding-left: 34px;
        padding-right: 34px;
    }
    @media (max-width: 769px) {
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
    }
    @media (max-width: 481px) {
        padding-left: 0px;
        padding-right: 0px;
    }
    @media (max-width: 376px) {
    }
}

/*******************************
            flex
*******************************/

.flex {
    display: flex;
    align-items: center;
    &.evenly {
        justify-content: space-evenly;
    }
    &.between {
        justify-content: space-between;
    }
    &.around {
        justify-content: space-around;
    }
    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    &.column {
        flex-direction: column;
    }
}

.hover-scale-slice {
    transition: transform 200ms ease-in-out;
    &:hover {
        transform: scale(1.05, 1.05);
        transition: transform 200ms ease-in-out;
    }
}

.space {
    padding: 1rem;
}
.space-outline {
    margin: 1rem;
}

.columnRollingUp {
    transform: translateZ(0) translateY(10%);
    will-change: transform;
    animation-name: columnRollingUp;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

html {
    h1 {
        font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
        font-size: 72px;
        font-weight: 800;
        line-height: 110%;
        letter-spacing: -0.02em;
        margin: 40px 0;
        @media (max-width: 1440px) {
        }
        @media (max-width: 1024px) {
            font-size: 64px;
        }
        @media (max-width: 769px) {
            font-size: 56px;
            margin: 8px 0;
        }
        @media (max-width: 481px) {
            font-size: 56px;
        }
        @media (max-width: 376px) {
            font-size: 48px;
        }
    }
    h2 {
        font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 110%;
        letter-spacing: -0.025em;
        margin: 16px 0;
        @media (max-width: 1440px) {
        }
        @media (max-width: 1024px) {
            font-size: 40px;
        }
        @media (max-width: 769px) {
            margin: 8px 0;
        }
        @media (max-width: 481px) {
        }
        @media (max-width: 376px) {
            font-size: 36px;
        }
    }

    h4 {
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        @media (max-width: 1440px) {
        }
        @media (max-width: 1024px) {
        }
        @media (max-width: 769px) {
            font-size: 22px;
            margin: 8px 0;
        }
        @media (max-width: 481px) {
            font-size: 20px;
        }
        @media (max-width: 376px) {
            font-size: 18px;
        }
    }

    .button {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 54px;
        padding-right: 54px;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        cursor: pointer;
        @media (max-width: 1440px) {
        }
        @media (max-width: 1024px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        @media (max-width: 769px) {
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 46px;
            padding-right: 46px;
        }
        @media (max-width: 481px) {
        }
        @media (max-width: 376px) {
        }
    }
    .button {
        cursor: pointer;
    }
    p {
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 176%;
        @media (max-width: 1440px) {
        }
        @media (max-width: 1024px) {
            font-size: 22px;
        }
        @media (max-width: 769px) {
            font-size: 20px;
            margin: 8px 0;
        }
        @media (max-width: 481px) {
        }
        @media (max-width: 376px) {
            font-size: 16px;
        }
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
    background: #ff0000;
}

@keyframes columnRollingUp {
    0% {
        transform: translateZ(0) translateY(10%);
    }
    100% {
        transform: translate3d(0, -50%, 0) translateY(10%);
    }
}
.radian.button {
    border-radius: 32px;
    text-transform: capitalize;
    border: 3px solid var(--purple);
    background: var(--purple);
    color: var(--text-light);
    box-shadow: 0px 8px 32px rgba(117, 53, 253, 0.24);
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        opacity: 0.95;
        border: 3px solid transparent;
    }
    &:active {
        background: #6600ff;
    }
    &.outline {
        border: 1px solid var(--purple);
        background: var(--text-light);
        color: var(--purple);
        box-shadow: unset;
        &:hover {
            opacity: 0.95;
            border: 2px solid var(--purple-hover);
            color: var(--purple);
        }
        &:active {
            opacity: 0.8;
        }
        &.white {
            border: 2px solid var(--text-light);
            background: transparent;
            color: var(--text-light);
            &:hover {
                background: #fff;
                color: var(--purple);
            }
            &:active {
                background: rgba(255, 255, 255, 0.95);
            }
            &.hover-dark-blue {
                &:hover {
                    background: #fff;
                    color: var(--text-link);
                }
                &:active {
                    background: rgba(255, 255, 255, 0.95);
                }
            }
        }
        &.dark-blue {
            border: 1.5px solid var(--text-link);
            background: transparent;
            color: var(--text-link);
            &:hover {
                border: 1.5px solid var(--blue1);
                color: var(--blue1);
            }
        }
    }
}

.sub-main {
    font-size: 24px;
    @media (max-width: 1440px) {
    }
    @media (max-width: 1024px) {
    }
    @media (max-width: 769px) {
        font-size: 22px;
    }
    @media (max-width: 481px) {
        font-size: 20px;
    }
    @media (max-width: 376px) {
        font-size: 18px;
    }
}
