:root {
    --text: #393b41;
    --text-2: #64656a;
    --text-light: #fff;
    --text-light2: #f7f8f8;
    --text-link: #122d5f;
    --text-footer: #c9cacb;
    --dark-back: #021f56;
    --blue: #002978;
    --blue1: #0046a2;
    --blue2: #2a8ce8;
    --blue3: #2ad1e8;
    --blue4: #daedfe;
    --blue5: #0e244b;
    --blue6: #11213f;
    --blue-shadow: rgba(17, 113, 167, 0.66);
    --green: #12cd72;
    --green1: #1af98c;
    --green2: #c7ffca;
    --gray: #dae3e6;
    --yellow: #ffda05;
    --yellow1: #fef901;
    --purple: #7535fd;
    --purple-hover: rgba(117, 53, 253, 0.8);
    --purple-shadow: rgba(117, 53, 253, 0.24);
    --gray-shadow: rgba(200, 200, 200, 0.8);
    --purple1: #e6defe;
    --card-blue: #3268cb;
    --card-blue1: #1492bc;
    --card-blue2: #18bbf1;
    --card-blue3: #89e2ff;
    --linear-blue: linear-gradient(90deg, #18bbf1 0%, #4284fb 100%);
    --linear-dark-blue: linear-gradient(
        184.23deg,
        #091e43 -7.85%,
        var(--dark-back) 16.35%,
        #001a4b 50.91%,
        #022c7a 88.38%
    );
    --linear-gray: linear-gradient(178.97deg, rgba(218, 237, 254, 0.16) -0.5%, #ffffff 93.85%);
    --news-card-color-0: #12cd72;
    --news-card-color-1: #0046a2;
    --news-card-color-2: #4284fb;
    --news-card-color-3: #16b6cc;
    --news-card-color-4: #2a8ce8;
    --news-card-color-5: #7535fd;
    --news-card-box-shadow-0: 0px 8px 24px rgba(18, 205, 114, 0.4);
    --news-card-box-shadow-1: 0px 8px 24px rgba(0, 70, 162, 0.4);
    --news-card-box-shadow-2: 0px 8px 24px rgba(66, 132, 251, 0.4);
    --news-card-box-shadow-3: 0px 8px 24px rgba(22, 182, 204, 0.4);
    --news-card-box-shadow-4: 0px 8px 24px rgba(42, 140, 232, 0.4);
    --news-card-box-shadow-5: 0px 8px 24px rgba(117, 53, 253, 0.4);
    --feature-stack-color-0: #89e2ff;
    --feature-stack-color-1: #ffda05;
    --feature-stack-color-2: #ded2ff;
    --feature-stack-color-3: #1af98c;
    --feature-stack-color-4: #23e0ec;
    --feature-stack-color-5: #aac7fd;
    --characteristic-color-0: #2ad1e8;
    --characteristic-color-1: #ffda05;
    --characteristic-color-2: #4284fb;
    --characteristic-color-3: #1af98c;
}
* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box !important;
    -o-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    color: var(--text-link);
    background-color: #fff;
    margin: 0;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: var(--text-link);
    text-decoration: none;
    background-color: transparent;
}
img {
    /* max-width: unset !important; */
    border-style: none;
}
button {
    cursor: pointer;
}
button:focus {
    outline-width: 1px;
    outline-style: dashed;
    outline-color: transparent;
}
[role='tab'] {
    outline-width: 1px;
    outline-style: dashed;
    outline-color: transparent;
}

*,
*::before,
*::after {
    border-color: none;
}
